@(tasks: List[Task], taskForm: Form[Task])

@import helper._

@main("Todo list") {
    
    <div ng-app="addApp" ng-controller="addCtrl">
	    <h2>Add a new task</h2>
	    
	    @form(routes.Application.newTask()) {
	        
			<input type="text" name="customerInfo" ng-model="cusotmerInfo">
			<input type="textarea" name="comments" ng-model="comments">
			<input type="text" name="createdBy" ng-model="createdBy">
	        <input type="submit" value="Create">
	        
	    }
    
    	<a ng-href="#/index.scala.html">Go back to main page</a>
    
    </div>
    
}