@(tasks: List[Task], taskForm: Form[Task])

@import helper._

@main("Defect Tracking System") {

	<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	
	<div class="jumbotron">
        <h2>Defect Tracking System</h2>
        <p class="pull-right">... log and keep track of defects easily!
    </div>
    
	<style>
		table, td, th {
		    border: 1px solid green;
		}
		th {
		    background-color: green;
		    color: white;
		}
	</style>
	
	<div ng-app="myApp" ng-controller="appCtrl">
    	
    	<div class="form-group">
            <div>
                <button type="submit" ng-click="toggleAdd()" class="btn btn-primary btn-block" id="btn_create">Log Ticket</button>
            </div>
            <br>
            <div>
                <button type="submit" ng-click="toggleShow()" class="btn btn-primary btn-block" id="btn_create">View Tickets</button>
            </div>
            <br>
            <div>
                <button type="submit" ng-click="toggleAssign()" class="btn btn-primary btn-block" id="btn_create">Assign Ticket</button>
            </div>
        </div>
    	
		<div ng-show="addView">	    
		    @form(routes.Application.newTask()) {
		    <p ng-show="false">
		    	<h2>Create New Ticket</h2>
		        <table style="width:100%; border: 1px solid black; border-collapse: collapse;">
					<tr> 
						<label id="lbl_customerInfo" for="customerInfo" class="col-sm-4 control-label">Customer Information</label>
			            <div class="col-sm-8">
			                <input type="text" class="form-control" name="customerInfo" id="customerInfo" placeholder="" ng-model="customerInfo">
			            </div>
					</tr>
					<tr> 
						<label id="lbl_comments" for="comments" class="col-sm-4 control-label">Comments</label>
			            <div class="col-sm-8">
			                <textarea class="form-control" name="comments" id="comments" placeholder="" ng-model="comments"></textarea>
			            </div>
					</tr>
					<tr> 
						<label id="lbl_createdBy" for="createdBy" class="col-sm-4 control-label">Created By</label>
			            <div class="col-sm-8">
			                <input type="text" class="form-control" name="createdBy" id="createdBy" placeholder="" ng-model="createdBy">
			            </div>
					</tr>
					<tr> 
						<label id="lbl_status" for="status" class="col-sm-4 control-label">Status</label>
			            <div class="col-sm-8">
			                 <select class="form-control" name="status" id="status" placeholder="" ng-model="status">
			                	<option value="New" class="btn dropdown-toggle">New</option>
			                 </select>
			            </div>
					</tr>
				</table> 
				
				<br>
				<div class="col-sm-offset-4 col-sm-8 text-right">
	                <button type="submit" class="btn btn-success" id="btn_create" value="Create">Submit Ticket</button>
	            </div>
			</p>
		    }
		</div>
    
		<div ng-show="showView">
			<div class="container">
		    <h2>@tasks.size() ticket(s)</h2>
    		<table class="table">
				    <thead>
				      <tr>
				      	<th>ID</th>
				        <th>Customer Information</th>
				        <th>Comments</th>
				        <th>Created By</th>
				        <th>Status</th>
				        <th>Assigned To</th>
				        <th>Action</th>
				      </tr>
				    </thead>
				    <tbody>
	        		
	        		@for(task <- tasks) {
				 
				      <tr>
				      	<td>@task.id</td>
						<td>@task.customerInfo</td>
						<td>@task.comments</td>
						<td>@task.createdBy</td>
						<td>@task.status</td>
						<td>@task.assignTo</td>
						<td>
							@form(routes.Application.deleteTask(task.id)) {
			                    <button type="submit" class="btn btn-success" id="btn_create" value="Delete">Delete This Ticket</button>
			                }							
						</td>
				      </tr>
			        }
			     </tbody>
			</table>
			</div>
		</div>
		
		<div ng-show="assignView">
			<div class="container">
    		<table class="table">
				    <thead">
				      <tr>
				      	<th>ID</th>
				        <th>Customer Information</th>
				        <th>Comments</th>
				        <th>Created By</th>
						<th>Status</th>
						<th>Assinged To</th>
				        <th>Action</th>
				      </tr>
				    </thead>
				    <tbody>
	        		
	        		@for(task <- tasks) {
	        		  @if(task.status == "New") {
				      <tr>
				      	<td>@task.id</td>
						<td>@task.customerInfo</td>
						<td>@task.comments</td>
						<td>@task.createdBy</td>
						<td>@task.status</td>
						<td>@task.assignTo</td>
						<td>
			            	<button ng-click="toggleAssignTicket('@task.id', '@task.customerInfo', '@task.comments', '@task.createdBy')" class="btn btn-success" id="btn_create">Assign This Ticket</button>
						</td>
				      </tr>
						}
			        }
			     </tbody>
				</table>
				</div>
		</div>
		
		<div ng-show="assignFields">
			@form(routes.Application.assign()) {
		    	<h2>Assign This Ticket</h2>
		        <table style="width:100%; border: 1px solid black; border-collapse: collapse;">
		        	<tr> 
						<label id="lbl_customerInfo" for="id" class="col-sm-4 control-label">Ticket ID</label>
			            <div class="col-sm-8">
			                <input type="text" class="form-control" name="id" id="id" placeholder="" ng-model="id" readonly>
			                	{{$scope.id}}
			            </div>
					</tr>
					<tr> 
						<label id="lbl_customerInfo" for="customerInfo" class="col-sm-4 control-label">Customer Information</label>
			            <div class="col-sm-8">
			                <input type="text" class="form-control" name="customerInfo" id="customerInfo" placeholder="" ng-model="customerInfo">
			                	{{$scope.customerInfo}}
			            </div>
					</tr>
					<tr> 
						<label id="lbl_comments" for="comments" class="col-sm-4 control-label">Comments</label>
			            <div class="col-sm-8">
			                <textarea class="form-control" name="comments" id="comments" placeholder="" ng-model="comments">
			                	{{$scope.comments}}
			                </textarea>
			            </div>
					</tr>
					<tr> 
						<label id="lbl_createdBy" for="createdBy" class="col-sm-4 control-label">Created By</label>
			            <div class="col-sm-8">
			                <input type="text" class="form-control" name="createdBy" id="createdBy" placeholder="" ng-model="createdBy">
			                	{{$scope.createdBy}}
			            </div>
					</tr>
					<tr> 
						<label id="lbl_status" for="status" class="col-sm-4 control-label">Status</label>
			            <div class="col-sm-8">
			                 <select class="form-control" name="status" id="status" placeholder="" ng-model="status">
			                	<option value="Open" class="btn dropdown-toggle">Open</option>
			                 </select>
			            </div>
					</tr>
					<tr> 
						<label id="lbl_status" for="assignTo" class="col-sm-4 control-label">Assign To</label>
			            <div class="col-sm-8">
			                 <select class="form-control" name="assignTo" id="assignTo" placeholder="" ng-model="assignTo">
			                	@for(task <- tasks) {
						        	<option value="@task.createdBy" class="btn dropdown-toggle">@task.createdBy</option>
						        }
			                 </select>
			            </div>
					</tr>
				</table> 
				<br>
				<div class="col-sm-offset-4 col-sm-8 text-right">
	                <button type="submit" class="btn btn-success" id="btn_create" value="Assign">Assign Ticket</button>
	            </div>
		    }
		</div>
		
	</div>
	
	<script>
		var app = angular.module('myApp', []);
		app.controller('appCtrl', function($scope) {
		    $scope.toggleAdd = function() {
		    	$scope.showView = false;
		    	$scope.assignView = false;
		    	$scope.assignFields = false;
		        $scope.addView = !$scope.addView;
		    }
		    
			$scope.toggleShow = function() {
		    	$scope.addView = false;
		    	$scope.assignView = false;
		    	$scope.assignFields = false;
		        $scope.showView = !$scope.showView;
		    }
			
			$scope.toggleAssign = function() {
		    	$scope.addView = false;
		    	$scope.showView = false;
		    	$scope.assignFields = false;
		        $scope.assignView = !$scope.assignView;
		    }
			
			$scope.toggleAssignTicket = function(id, custInfo, comment, originator) {
				$scope.id = id;
				$scope.customerInfo = custInfo;
				$scope.comments = comment;
				$scope.createdBy = originator;
				$scope.status = "Open";
				$scope.addView = false;
		    	$scope.showView = false;
		    	$scope.assignView = false;
		    	$scope.assignFields = !$scope.assignFields;
			}
		});
	</script>

}