@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<style>
			.table th{
			    text-align:center;
			}
		</style>
    </head>
    <body>
        @content
    </body>

	<footer>
	    <hr/>
	    <div>
	        <center><span>&copy; Defect Tracking System 2015</span></center>
	        <center><span> Naveen Kumar Kalapati</span></center>
	        </div>
	    <div>
	        <span app-version></span>
	    </div>
	</footer>
    
</html>
